@page
@model Areas.Administration.Pages.Accounts.Account.IndexModel
@{
}
<a class="btn btn-success" asp-page="CreateAccount">ایجاد کاربر جدید</a>
<div class="card shadow">
	<div class="card-header">
		<h2 class="mb-0">لیست کاربران</h2>
	</div>
	<div class="card-body">
		<div class="table-responsive">
			<table id="example"
				   class="table table-striped table-bordered w-100 text-nowrap">
				<thead>
					<tr>
						<th class="wd-15p">#</th>
						<th class="wd-20p">نام کامل</th>
						<th class="wd-20p">نام کاربری</th>
						<th class="wd-20p">شماره موبایل</th>
						<th class="wd-20p">نقش</th>
						<th class="wd-20p">تاریخ ایجاد</th>
						<th class="wd-20p">عملیات</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model.AccountView)
					{
						<tr>
							<td>@item.Id</td>
							<td>@item.FullName</td>
							<td>@item.UserName</td>
							<td>@item.Mobile</td>
							<td>@item.RoleName</td>
							<td>@item.CreationDate</td>
							<td>
								<a class="btn btn-sm btn-primary" asp-page="EditAccount"
								   asp-route-Id="@item.Id">ویرایش</a>

								<a class="btn btn-sm btn-warning" asp-page="ChangePassword"
								   asp-route-Id="@item.Id">تغییر رمز</a>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>
@section Scripts {
	<script>
		$(function (e) {
			$('#example').DataTable();

			var table = $('#example1').DataTable();
			$('button').click(function () {
				var data = table.$('input, select').serialize();
				alert(
					"The following data would have been submitted to the server: \n\n" +
					data.substr(0, 120) + '...'
				);
				return false;
			});
			$('#example2').DataTable({
				"scrollY": "200px",
				"scrollCollapse": true,
				"paging": false
			});
		});
	</script>
}