@page
@using _0_Framework.Application
@model ServiceHost.Pages.CartModel
@{
    string message = Model.Message;
}
<section class="page-title-area bg-image ptb--80" data-bg-image="Them/files/img/bg/page_title_bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="page-title">سبد خرید</h1>
                <ul class="breadcrumb">
                    <li class="current"><span>سبد خرید</span></li>
                    <li><a asp-page="Index" style="margin-right: 10px;">صفحه اصلی</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="main-content-wrapper" id="productStockWarnings">
    @if (Model.CartItems != null)
    {
        @foreach (var item in Model.CartItems.Where(x => !x.IsInStock))
        {
            <div class="text-danger text-center mt-3 mb-3">محصول <strong>@item.Name</strong> به تعداد خواسته شده در انبار موجود نیست</div>
        }
    }
    @if (!string.IsNullOrWhiteSpace(message))
    {
        <div class="text-danger text-center mt-3 mb-3">@message</div>
    }
    <div class="page-content-inner ptb--80 pt-md--40 pb-md--60">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-md--50">
                    <form class="cart-form" action="#">
                        <div class="row g-0">
                            <div class="col-12">
                                <div class="table-content table-responsive">
                                    <table class="table text-center">
                                        <thead>
                                            <tr>
                                                <th>&nbsp;</th>
                                                <th>&nbsp;</th>
                                                <th class="text-start">محصول</th>
                                                <th>قیمت</th>
                                                <th>تعداد</th>
                                                <th>جمع</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.CartItems != null)
                                            {
                                                @foreach (var item in Model.CartItems)
                                                {
                                                    <tr>
                                                        <td class="product-remove text-start"><a href="" onclick="removeFromCart(@item.Id)"><i class="la la-remove"></i></a></td>
                                                        <td class="product-thumbnail text-start">
                                                            <img src="~/Pictures/@item.Picture" alt="Product Thumnail">
                                                        </td>
                                                        <td class="product-name text-start wide-column">
                                                            <h3>
                                                                <a href="product-details.html">@item.Name</a>
                                                            </h3>
                                                        </td>
                                                        <td class="product-price">
                                                            <span class="product-price-wrapper">
                                                                <span class="money">@item.UnitPrice تومان</span>
                                                            </span>
                                                        </td>
                                                        <td class="product-quantity">
                                                            <div class="quantity">
                                                                <input type="number" class="quantity-input" name="qty" id="qty-1" value="@item.Count" min="1" onchange="changeCartItemCount('@item.Id','totalItemPrice-@item.Id',this.value)">
                                                            </div>
                                                        </td>
                                                        <td class="product-total-price">
                                                            <span class="product-price-wrapper">
                                                                <span class="money" id="totalItemPrice-@item.Id">@((item.DoubleUnitPrice * item.Count).ToMoney()) تومان</span>
                                                            </span>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-4">
                    <div class="cart-collaterals">
                        <a asp-page-handler="GoToCheckOut" class="btn btn-size-md btn-shape-square btn-fullwidth">
                            به پرداخت ادامه دهید
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
