@page
@model ServiceHost.Pages.ProductModel
@{
    ViewData["Title"] =  Model.Product.Name;
    ViewData["metaDescription"] = Model.Product.MetaDescription;
    ViewData["Keywords"] = Model.Product.Keywords;
}
<section class="page-title-area bg-image ptb--80" data-bg-image="Them/files/img/bg/page_title_bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="page-title">@Model.Product.Name</h1>
                <ul class="breadcrumb">
                    <li class="current"><span>@Model.Product.Name</span></li>
                    <li><a asp-page="ProductCategory" asp-route-slug="@Model.Product.CategorySlug" style="margin-right: 10px;">@Model.Product.CategoryName</a></li>
                    <li><a asp-page="Index" style="margin-right: 10px;">صفحه اصلی</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<div class="main-content-wrapper">
    <div class="page-content-inner pt--80 pt-md--60">
        <div class="container">
            <div class="row g-0 mb--80 mb-md--57">
                <div class="col-lg-7 product-main-image">
                    <div class="product-image">
                        <div class="product-gallery vertical-slide-nav">
                            <div class="product-gallery__large-image  mb-sm--30" style="direction: ltr">
                                <div class="product-gallery__wrapper">
                                    <div class="element-carousel main-slider image-popup"
                                         data-slick-options='{
                                            "slidesToShow": 1,
                                            "slidesToScroll": 1,
                                            "infinite": true,
                                            "arrows": false,
                                            "asNavFor": ".nav-slider"
                                        }'>
                                        <figure class="product-gallery__image zoom">
                                            <img src="~/Pictures/@Model.Product.Picture" alt="@Model.Product.PictureAlt"
                                                 title="@Model.Product.PictureTitle">
                                        </figure>
                                        @foreach (var picture in Model.Product.ProductPictures)
                                        {
                                            <figure class="product-gallery__image zoom">
                                                <img src="~/Pictures/@picture.Picture" alt="@picture.PictureAlt"
                                                    title="@picture.PictureTitle">
                                            </figure>
                                        }

                                    </div>
                                </div>
                            </div>
                            <div class="product-gallery__nav-image" style="direction: ltr">
                                <div class="element-carousel nav-slider product-slide-nav slick-center-bottom"
                                     data-slick-options='{
                                        "spaceBetween": 10,
                                        "slidesToShow": 3,
                                        "slidesToScroll": 1,
                                        "vertical": true,
                                        "swipe": true,
                                        "verticalSwiping": true,
                                        "infinite": true,
                                        "focusOnSelect": true,
                                        "asNavFor": ".main-slider",
                                        "arrows": true,
                                        "prevArrow": {"buttonClass": "slick-btn slick-prev", "iconClass": "la la-angle-up" },
                                        "nextArrow": {"buttonClass": "slick-btn slick-next", "iconClass": "la la-angle-down" }
                                    }'
                                     data-slick-responsive='[
                                        {
                                            "breakpoint":1200,
                                            "settings": {
                                                "slidesToShow": 2
                                            }
                                        },
                                        {
                                            "breakpoint":992,
                                            "settings": {
                                                "slidesToShow": 3
                                            }
                                        },
                                        {
                                            "breakpoint":767,
                                            "settings": {
                                                "slidesToShow": 4,
                                                "vertical": false
                                            }
                                        },
                                        {
                                            "breakpoint":575,
                                            "settings": {
                                                "slidesToShow": 3,
                                                "vertical": false
                                            }
                                        },
                                        {
                                            "breakpoint":480,
                                            "settings": {
                                                "slidesToShow": 2,
                                                "vertical": false
                                            }
                                        }
                                    ]'>
                                    <figure class="product-gallery__image zoom">
                                        <img src="~/Pictures/@Model.Product.Picture" alt="@Model.Product.PictureAlt"
                                             title="@Model.Product.PictureTitle">
                                    </figure>
                                    @foreach(var picture in Model.Product.ProductPictures)
                                    {
                                        <figure class="product-gallery__nav-image--single">
                                            <img src="~/Pictures/@picture.Picture" alt="@picture.PictureAlt"
                                                title="@picture.PictureTitle">
                                        </figure>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 offset-xl-1 col-lg-5 product-main-details mt-md--50">
                    <div class="product-summary pl-lg--30 pl-md--0">
                        <h3 class="product-title mb--20">@Model.Product.Name</h3>
                        <p class="product-short-description mb--20">@Model.Product.ShortDescription</p>
                        <div class="product-price-wrapper mb--25">
                            @if (Model.Product.HasDiscount)
                            {
                                <span class="money text-muted" style="text-decoration-line: line-through; ">@Model.Product.UnitPrice تومان</span>

                                <span class="money">@Model.Product.PriceWithDiscount تومان</span>
                            }
                            else
                            {
                                <span class="money">@Model.Product.UnitPrice تومان</span>
                            }
                        </div>
                        <div class="product-action d-flex flex-sm-row align-items-sm-center flex-column align-items-start mb--30">
                            <div class="quantity-wrapper d-flex align-items-center mr--30 mr-xs--0 mb-xs--30">
                                <label class="quantity-label" for="qty">تعداد:</label>
                                <div class="quantity">
                                    <input type="number" class="quantity-input" name="qty" id="productCount" value="1" min="1">
                                </div>
                            </div>
                            <button type="button" class="btn btn-shape-square btn-size-sm" onclick="addToCart('@Model.Product.Id','@Model.Product.Name','@Model.Product.UnitPrice','@Model.Product.DoubleUnitPrice','@Model.Product.Picture')">
                                افزودن به سبد خرید
                            </button>
                        </div>
                        <div class="product-footer-meta">
                            <p>
                                <span>دسته بندی: @Model.Product.CategoryName</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mb--77 mb-md--57">
                <div class="col-12">
                    <div class="tab-style-2">
                        <div class="nav nav-tabs mb--35 mb-sm--25" id="product-tab" role="tablist">
                            <button type="button" class="nav-link active" id="nav-description-tab" data-bs-toggle="tab" data-bs-target="#nav-description" role="tab" aria-selected="true">
                                <span>شرح</span>
                            </button>
                            <button type="button" class="nav-link" id="nav-reviews-tab" data-bs-toggle="tab" data-bs-target="#nav-reviews" role="tab" aria-selected="true">
                                <span>
                                    کامنت ها(@Model.Product.Comments.Count)
                                </span>
                            </button>
                        </div>
                        <div class="tab-content" id="product-tabContent">
                            <div class="tab-pane fade show active" id="nav-description" role="tabpanel" aria-labelledby="nav-description-tab">
                                <div class="product-description">
                                    <p>@Model.Product.Description</p>
                                </div>
                            </div>
                            
                            <div class="tab-pane fade" id="nav-reviews" role="tabpanel" aria-labelledby="nav-reviews-tab">
                                <div class="product-reviews">
                                    <h3 class="review__title"> نظرات: @Model.Product.Name</h3>
                                    <ul class="review__list">
                                        @foreach (var comment in Model.Product.Comments)
                                        {
                                            <li class="review__item">
                                                <div class="review__container">
                                                    <div class="review__text">
                                                        <div class="d-flex flex-sm-row flex-column justify-content-between">
                                                            <div class="review__meta">
                                                                <strong class="review__author">
                                                                    @comment.Name
                                                                </strong>
                                                                <span class="review__dash">-</span>
                                                                <span class="review__published-date">@comment.CreationDate</span>
                                                            </div>
                                                        </div>
                                                        <p class="review__description">@comment.Message</p>
                                                    </div>
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                    <div class="review-form-wrapper">
                                        <div class="row">
                                            <div class="col-lg-8">
                                                <span class="reply-title">نظر خود را باما به اشتراک بگزارید</span>
                                                <form method="post" asp-page-handler="Comment" class="form pr--30">
                                                    <div class="form-notes mb--20">
                                                        <p>آدرس ایمیل شما منتشر نخواهد شد. فیلدهای الزامی مشخص شده اند <span class="required">*</span></p>
                                                    </div>
                                                    <div class="form__group mb--20">
                                                        <label class="form__label d-block" asp-for="AddComment.Name">نام<span class="required">*</span></label>
                                                        <input type="text" asp-for="AddComment.Name" class="form__input">
                                                        <span asp-validation-for="AddComment.Name"></span>
                                                    </div>
                                                    <div class="form__group mb--20">
                                                        <label class="form__label d-block" asp-for="AddComment.Email">ایمیل<span class="required">*</span></label>
                                                        <input type="email" asp-for="AddComment.Email" class="form__input">
                                                        <span asp-validation-for="AddComment.Email"></span>
                                                    </div>
                                                    <div class="form__group mb--10">
                                                        <label class="form__label d-block" asp-for="AddComment.Message">نقد شما<span class="required">*</span></label>
                                                        <textarea asp-for="AddComment.Message" class="form__input form__input--textarea"></textarea>
                                                        <span asp-validation-for="AddComment.Message"></span>
                                                    </div>
                                                    <div class="form__group">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <input type="hidden" asp-for="AddComment.OwnerRecordId" value="@Model.Product.Id" />
                                                                <input type="hidden" name="slug" value="@Model.Product.Slug" />
                                                                <input type="submit" value="اکنون ارسال کنید" class="btn btn-size-md">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>