@page
@using ShopManagement.Configuration.Permissions
@model ServiceHost.Areas.Administration.Pages.Shop.Product.IndexModel
@{
	ViewData["AdmintTitle"] = "لیست محصولات";
}
<a class="btn btn-success" Permission="@ShopPermissions.CreateProduct" asp-page="CreateProduct">ایجاد محصول جدید</a>
<div class="card shadow">
	<div class="card-header">
		<h2 class="mb-0">لیست محصولات</h2>
	</div>
	<div class="card-body">
		<div class="table-responsive">
			<table id="example"
				   class="table table-striped table-bordered w-100 text-nowrap">
				<thead>
					<tr>
						<th class="wd-15p">#</th>
						<th class="wd-15p">نام</th>
						<th class="wd-20p">عکس</th>
						<th class="wd-20p">کد</th>
						<th class="wd-20p">نام دسته</th>
						<th class="wd-20p">تاریخ ایجاد</th>
						<th class="wd-20p">عملیات</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model.Producs)
					{
						<tr>
							<td>@item.Id</td>
							<td>@item.Name</td>
							<td><img src="~/Pictures/@item.Picture" width="70" height="70" /></td>
							<td>@item.Code</td>
							<td>@item.CategoryName</td>
							<td>@item.CreationDate</td>
							<td>
								<a Permission="@ShopPermissions.EditProduct" class="btn btn-primary btn-sm" asp-page="EditProduct"
								   asp-route-Id="@item.Id">ویرایش</a>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>
@section Scripts {
	<script>
		$(function (e) {
			$('#example').DataTable();

			var table = $('#example1').DataTable();
			$('button').click(function () {
				var data = table.$('input, select').serialize();
				alert(
					"The following data would have been submitted to the server: \n\n" +
					data.substr(0, 120) + '...'
				);
				return false;
			});
			$('#example2').DataTable({
				"scrollY": "200px",
				"scrollCollapse": true,
				"paging": false
			});
		});
	</script>
}